/* CSS Reset */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #101014;
    padding: 0px;
    margin: 0px;
}

/* Home Page */

/* Navbar CSS */
.name {
    margin: 0px 10px;
    font-family: "Sigmar", serif;
    font-size: 45px;
    font-style: normal;

}

.navbar {
    background-color: #121216;
    display: flex;
    gap: 240px;
    width: 100%;
    flex-wrap: wrap;
}

.navbar .navbtn {
    font-size: 18px;
    color: black;
    text-decoration: none;

}

.navbar li {
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
    padding: 10px 20px;
    background-color: #26bbff;
    border-radius: 8px;

}

.navbar li:hover {
    background-color: #5dc6f7;
}

.active :active {
    color: red;

}

/* Game Preview  */

.preview {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 450px;
}

.games {
    width: 12%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(245, 245, 245, 0.397);
    transition: all ease-in-out 0.5s;
}

.games:hover {
    width: 39%;
}

/* Games slots */

.slots {
    border: 2px solid #40404e;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
}

.gameslot {
    display: flex;
    width: 15%;
    height: 300px;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 10px;
    background-color: #42424217;
    flex-wrap: wrap;
}

/* Gamecard */

.gamecard {
    background-color: bl;
    margin: auto;
    width: 65%;
    height: 65%;
    margin-top: 10px;
    border: 1px solid rgba(245, 245, 245, 0.342);
    background-color: rgba(0, 0, 0, 0.281);
}

.gameslot p {
    font-weight: bold;
    text-align: center;
    margin: 0;
    bottom: 30px;
}

.gbtn {
    text-align: center;
    position: relative;
    bottom: 20px;
}

.btn {
    text-decoration: none;
    margin: auto;
    padding: 9px 40px;
    border-radius: 10px;
    border: none;
    background-color: #26bbff;
    color: black;
    cursor: pointer;
}

.btn:hover {
    background-color: #5dc6f7;
}

/* Store Page */
/* Same CSS Gamecards as Home page */

/* Library Page */

.partition {
    display: flex;
    gap: 10px;
}

.library {
    width: 24%;
    height: 90vh;
    flex-direction: column;
    background-color: #64646417;
    border-radius: 10px;
}

.recent {
    background-color: #64646417;
    width: 100%;
    border-radius: 10px;
}

.alert {
    margin: 20px;
    padding: 25px 25px 25px 50px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.192);
    font-size: 18px;
}

.alert a {
    text-decoration: none;
    color: #26bbff;
}

.alert a:hover {
    text-decoration: underline;
}

/* Login Page */

.login {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form {
    height: 500px;
    margin: 90px 0;
    padding: 0 70px;
    background-color: #64646436;
    border-radius: 20px;
    box-shadow: -1px -1px 3px #40404e;

}

.info input {
    padding: 8px 100px 8px 5px;
    margin: 8px 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

#btn {
    text-align: center;
    margin: 50px 0;
}

.info .btn {
    font-size: 25px;
    padding: 12px 150px;

}

.info a {
    text-decoration: none;
    color: #101014;
}

#register a {
    text-decoration: none;
    color: #26bbff;
}

.option {
    margin: 10px 0;
    padding: 0 20px 0 0;
}

.option img {
    margin: 5px auto;
    width: 100px;
    height: 40px;
    object-fit: contain;
}

.other img {
    width: 100px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.856);
}

.policy{
    margin: 30px 0;
    /* border: 2px solid blue; */
    background-color: #21212770;
    padding: 20px 50px;
    border-radius: 15px;
    color: #414146;
}
.policy a{
    text-decoration: none;
    color: white;
}

.foot{
    margin: 0;
    width: 100%;
    height: 350px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.foot_el{
    padding: 30px 20px 0 20px;
    /* border: 2px solid green; */
    display: flex;
    gap: 30px;
}

.foot_el a{
    text-decoration: none;
    color: white;
}
.foot a{
    display: inline-block;
    height: 30px;
    margin: 10px; 
}

.social{
    width: 30px;
    height: 30px;
}

/* @media Queries */

@media only screen and (max-width:1327px) {
    .navbar {
        gap: 5px;
    }

}

@media only screen and (max-width:1090px) {

    .navbar {
        justify-content: center;
    }

    .preview {
        padding-top: 180px;

    }

    .btn {
        font-size: 12px;
        padding: 9px 20px;
    }

    .gameslot {
        width: 32%;
    }
}

@media only screen and (max-width:765px) {

    .navbar {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .navbar li {
        margin: 5px 10px;
        padding: 5px 10px;
    }

    .name {
        font-size: 30px;
    }

    .games {
        width: 17%;
        height: 65%;
    }

    .gameslot {
        width: 49%;
    }


}

@media only screen and (max-width:814px) {

    .gameslot {
        width: 95%;
        height: 10%;
    }


}